<div class="discount">
    <h2>ENDS TONIGHT: 30% OFF ORDERS $125+</h2>
    <h3>SAVE ON 100s OF STYLES</h3>
    <h4>USE CODE: SAVE30 EXCLUSIONS APPLY</h4>
</div>

<div class="New_Colection_Flex">

<div class="head">
    <div class="card_img"><img src="assets\tl-PH.ini" alt=""></div>
    <div class="Flex_H_txt"><h3>LAFRANCE UNTOCHABLE</h3></div>
    <div class="Flex_P_txt"><p>Featuring attention-grabbing details that lean into Y2K’s extreme aesthetics, the LaFrancé Untouchable is designed to help you stand out.</p></div>
    <div class="btn_div"><button>SHOP NOW ></button></div>    
</div>


    <div class="head">
        <div class="card_img"><img src="assets\a4994426-89a7-4d3a-9f12-7cfea14cc530.jpeg" alt=""></div>
        <div class="Flex_H_txt"><h3>LAFRANCE UNTOCHABLE</h3></div>
        <div class="Flex_P_txt"><p>Featuring attention-grabbing details that lean into Y2K’s extreme aesthetics, the LaFrancé Untouchable is designed to help you stand out.</p></div>
        <div class="btn_div"><button>SHOP NOW ></button></div>    
    </div>

        <div class="head">
            <div class="card_img"><img src="assets\1768a808-d8f9-466d-b67d-9bb5acb62ba7.jpeg" alt=""></div>
            <div class="Flex_H_txt"><h3>LAFRANCE UNTOCHABLE</h3></div>
            <div class="Flex_P_txt"><p>Featuring attention-grabbing details that lean into Y2K’s extreme aesthetics, the LaFrancé Untouchable is designed to help you stand out.</p></div>
            <div class="btn_div"><button>SHOP NOW ></button></div>   
        </div>
</div>